@model Buoi03Core.Models.Employee
@{
    ViewBag.Title = "Update";
}
<div>
    <h2>Update Employee</h2>
</div>
<form asp-action ="Update" enctype="multipart/form-data" method="post">
    <input type="hidden" asp-for="Id"/>
    <div class="mb-3">
        <label>Employee Name</label>
        <input type="text" asp-for="EmployeeName" />
        <span asp-validation-for="EmployeeName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label>Phone</label>
        <input type="text" asp-for="Phone" />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label>Skill</label>
        <input type="text" asp-for="Skill" />
        <span asp-validation-for="Skill" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label>Experiences</label>
        <input type="number" asp-for="Experiences" />
        <span asp-validation-for="Experiences" class="text-danger"></span>
    </div>
    <div class="form-control"> <img src="~/@Model.Image" width="100" class="img-thumbnail" /> </div>
    <div class="form-control">
        <label asp-for="Image"></label>
        <input name="fileUploadxx" type="file" />
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>
    <div>
        <input type="submit" value="Update" class="btn btn-primary" />
    </div>
</form>